body {
  background-color: yellowgreen;
}
p {
  color: greenyellow;
}
a:link {
  color: royalblue;
  text-decoration: none;
}
a:visited {
  color: lightcoral;
  text-decoration: none;
}
a:hover {
  background-color: rgba(0,0,0,.25)
    text-decoration: underline;
}
a:active {
  color: orangered;
  text-decoration: underline;
}
