body {
  background-color: LightSeaGreen;
}
p {
  color: LightGreen;
}
a:link {
  color: LightPink;
}
a:visited {
  color: LightSkyBlue;
  text-decoration: none;
}
a:hover {
  color: LightSeaGreen;
  background-color: LightSalmon;
  text-decoration: none;
}
a:active {
  color: LightGoldenrodYellow;
}
