body {
  background-color: LightSeaGreen;
}
p {
  color: LightGreen
}
a:link {
  color: LightSalmon;
}
a:visited {
  color: LightPink;
}
a:hover {
  background-color: LightSkyBlue;
}
a:active {
  color: LightGoldenrodYellow;
}
